body {
  font-family: 'Noto Sans Display', sans-serif;
  background-color: rgb(251, 240, 240);
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.home-container {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

#regenerate {
  font-style: italic;
  margin: 105px
}


